html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

h1 {
    font-size: 1.5em;
  }

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.button {
    border:none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0 em;
    margin: 2px 2px;
    cursor: pointer;
}
  
.button1 {background-color: mediumseagreen;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: tomato;}
.button4 {background-color: darkorange;}

form {
      width: 100%;
      margin: 0 auto;
      padding: 0 1em;
      font-size: 0.95em;
}

form label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    color: darkslategrey;
    padding-left: 3px;
}

form select {
    background-color: white;
    min-width: 100%;
    max-width: 100%;
}

.container {
    display:table;
}

.table-row {
    display:table-row;
}

.box2 { 
    float: left;
    width: 18%;
    margin-right: 2%;
    padding: 20px;
    background: #eeeeee;
    box-sizing: border-box;
}

.box2:last-child { 
    margin-right: 0;
}

.bigbox { 
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #eeeeee;
    box-sizing: border-box;
    font-size: 1.0em;
}

.bigbox:last-child { 
    margin-right: 0;
}

.maxbox { 
    float: left;
    width: 100%;
    padding: 20px;
    background: #eeeeee;
    box-sizing: border-box;
    font-size: 1.0em;
}

.maxbox:last-child { 
    margin-right: 0;
}

li {
    font-size: 1.0em;
    list-style: square;
    margin-left: 2%;
 }

  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: slategray;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    }

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #D6EEEE;
    color: black;
}

/* Main content */
.main {
    margin-top: 3%; /* Add a top margin to avoid content overlay */
}

table {
    border: 0px;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

tr {
    border-bottom: 1px solid black;
    border-style: dashed;
}

tr:hover {
    background-color: #D6EEEE;
}